<div class="col-lg-12">
	<div class="panel panel-info">
		<div class="panel-heading">
			<h2 class="panel-title"> <%= Team.Name %> </h2>
		</div>
		<div class="panel-body">
			<div class="row">
				<dl class="dl-horizontal">
					<dt> Club: </dt>
					<dd><a href="/Club/<%= Team.ClubId %>"> <%= Team.ClubName %> </a></dd>
					<dt> Division: </dt>
					<dd> TODO </dd>
					<dt> Classement: </dt>
					<dd> TODO </dd>
				</dl>
			</div>
		</div>
	</div>
</div>