<div class="col-lg-6">
	<div class="panel panel-info">
		<div class="panel-heading">
			<h2 class="panel-title"> Joueurs </h2>
		</div>
		<div class="panel-body">
			<table class="table table-bordered table-striped table-condensed">
				<thead>
					<tr>
						<th> Nom </th>
						<th> Classement </th>
						<th> Joués </th>
						<th> Gagnés </th>
					</tr>
				</thead>
				<tbody>
					<tr> 
						<td> Test X </td>
						<td> D5 </td>
						<td> 12 (80%) </td>
						<td> 10 (85%) </td>
					</tr>
					<tr> 
						<td> Test X </td>
						<td> D5 </td>
						<td> 12 (80%) </td>
						<td> 10 (85%) </td>
					</tr>
					<tr> 
						<td> Test X </td>
						<td> D5 </td>
						<td> 12 (80%) </td>
						<td> 10 (85%) </td>
					</tr>
					<tr> 
						<td> Test X </td>
						<td> D5 </td>
						<td> 12 (80%) </td>
						<td> 10 (85%) </td>
					</tr>
					<tr> 
						<td> Test X </td>
						<td> D5 </td>
						<td> 12 (80%) </td>
						<td> 10 (85%) </td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>