<div class="col-lg-6">
	<div class="panel panel-info">
		<div class="panel-heading">
			<h2 class="panel-title"> Equipes </h2>
		</div>
		<div class="panel-body">
			<table class="table table-bordered table-striped table-condensed">
				<thead>
					<tr>
						<th> Equipe </th>
						<th> Match joués </th>
						<th> Classement </th>
						<th> Division </th>
					</tr>
				</thead>
				<tbody>
					<tr> 
						<td> Team 4 </td>
						<td> 80% </td>
						<td> 3em </td>
						<td> D2 </td>
					</tr>
					<tr> 
						<td> Team 3 </td>
						<td> 10% </td>
						<td> 6em </td>
						<td> D1 </td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>