<div class="col-lg-6">
	<div class="panel panel-info">
		<div class="panel-heading">
			<h2 class="panel-title"> Badges </h2>
		</div>
		<div class="panel-body">
			Not available 
		</div>
	</div>
</div>
			