<div class="col-lg-6">
	<div class="panel panel-info">
		<div class="panel-heading">
			<h2 class="panel-title"> Equipes </h2>
		</div>
		<div class="panel-body">
			<table class="table table-bordered table-striped table-condensed">
				<thead>
					<tr>
						<th> Nom </th>
						<th> Division </th>
						<th> Position </th>
					</tr>
				</thead>
				<tbody>
					<tr> 
						<td> AS Sans soucis 1 </td>
						<td> Regional 1 </td>
						<td> 3 </td>
					</tr>
					<tr> 
						<td> AS Sans soucis 1 </td>
						<td> Regional 1 </td>
						<td> 3 </td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>