<!Doctype> 
<html lang="en">
	<head>
		<title> Club details </title>
		<% include Component/Header %>
	</head>
	<body>
		<div class="container">
			<% include Component/Navigation %>
			<% include Component/Club/GeneralInformation %>
			<% include Component/Club/Badge %>
			<% include Component/Club/Map %>
			<% include Component/Club/Member %>
			<% include Component/Club/Team %>
		</div>
	</body>
</html>