<!Doctype> 
<html lang="en">
	<head>
		<title> Dashboard </title>
		<% include Component/Header %>
	</head>
	<body>
		<div class="container">
			<% include Component/Navigation %>
			<h1> This is the dashboard </h1>
			<% include Component/Footer %>
		</div>
	</body>
</html>