<!Doctype> 
<html lang="en">
	<head>
		<title> Player details </title>
		<% include Component/Header %>
	</head>
	<body>
		<div class="container">
			<% include Component/Navigation %>
			<% include Component/Player/GeneralInformation %>
			<% include Component/Player/Game %>
			<% include Component/Player/Team %>
			<% include Component/Player/Badge %>
			<% include Component/Player/Stats %>
			<% include Component/Footer %>
		</div>
	</body>
</html>