<!Doctype> 
<html lang="en">
	<head>
		<title> Player details </title>
		<% include Component/Header %>
	</head>
	<body>
		<div class="container">
			<h1> Player  </h1>
			<% include Component/Footer %>
		</div>
	</body>
</html>