<!Doctype> 
<html lang="en">
	<head>
		<title> Team details </title>
		<% include Component/Header %>
	</head>
	<body>
		<div class="container">
			<% include Component/Navigation %>
			<% include Component/Team/GeneralInformation %>
			<% include Component/Team/Game %>
			<% include Component/Team/Player %>
		</div>
	</body>
</html>